<div class="register-container">
    <h1>Registar</h1>
    <form>

        <div class="form-content">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" placeholder="Digete seu nome">
        </div>
        <div class="form-content">
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" placeholder="Digete seu email">
        </div>
        <div class="form-content">
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha">
        </div>
        <div class="form-content">
            <label for="passwordChecks">Confirmação da senha:</label>
            <input type="password" name="passwordChecks" id="passwordChecks" placeholder="Confirme sua senha">
        </div>
        <button>Cadastrar</button>
    </form>
    <div class="register-footer">
        <span>Já tem conta?</span>
        <a href="/entrar">Entrar</a>
    </div>
</div>