<div class="addTought">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Criando um Pensamento</h1>
    <form action="/toughts/criar" method="post">
        <div class="form-content">
            <label for="title">Titulo:</label>
            <input type="text" name="title" id="title" required>
        </div>
        <button type="submit">Criar pensamento</button>
    </form>
</div>