<div class="dashboard-container">
    <div class="top-dashboard">
        <h1>DashBoard</h1>
        <a href="/toughts/criar">Criar pensamento</a>
    </div>
    <main>
        <h2>Seus pensamentos:</h2>

        {{#each toughts}}
            <div class="tought">
                <p>{{this.title}}</p>

                <div>
                    <a href="/toughts/editar/id">Editar</a>
                    <form action="/toughts/deletar/id" method="post">
                        <button type="submit">Excluir</button>
                    </form>
                </div>
            </div>

        {{/each}}



        {{!-- <span>Ainda não há nenhum pensamento cadastrado, crie o seu <a href="/toughts/criar">clicando aqui</a></span> --}}
    </main>
</div>