<div class="dashboard-container">
    <div>
        <h1>DashBoard</h1>
        <a href="/tought/create">Criar pensamento</a>
    </div>
    <main>
        <h2>Seus pensamentos:</h2>

        <span>Ainda não há nenhum pensamento cadastrado, crie o seu <a href="/tought/create">clicando aqui</a></span>
    </main>
</div>