<div class="addTought">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Criando um Pensamento</h1>
    <form action="/toughts/editar/{{tought.id}}" method="post">
        <div class="form-content">
            <label for="title">Titulo:</label>
            <input type="text" name="title" id="title" value="{{tought.title}}">
        </div>
        <button type="submit">Editar pensamento</button>
    </form>
</div>