<main class="home-container">
    <h1>Conheças alguns dos nossos <span>Pensamentos</span>:</h1>
    <div class="search">
        <div class="search-input">
            <input type="text" placeholder="Está buscando por algo?">
            <button>Buscar</button>
        </div>
        <div class="search-option">
            <span>Ordenar por:</span>
            <button>Mais novos</button>
            <button>Mais antigos</button>
            <button>Limpar</button>
        </div>
    </div>
    {{#each toughts}}
        <div class="post">
            <p class="post-title">"{{this.title}}"</p>
            <p class="author">por <span>{{this.User.email}}</span></p>
        </div>
    {{/each}}

    {{#unless toughts}}
            <span>Ainda não há nenhum pensamento cadastrado, crie o seu <a href="/toughts/criar">clicando aqui</a></span>
    {{/unless }}
</main>