:root {
    --primary-color: #222;
    --secondary-color: #F6982D;
    --white-color: #FFF;
}

* {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--primary-color);
    color: var(--white-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* .main-container {
    max-width: 120rem;
    margin: 0 auto;
} */


/* class gerais */
.main-container {
    min-width: 100vh;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

/* header */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 3rem;
    border-bottom: 0.2rem solid var(--secondary-color);
}

.main-header img {
    width: 4.4rem;
}

.main-header .main-nav ul {
    display: flex;   
    gap: 1.6rem;
    font-size: 1.8rem;
}

.main-nav a {
    color: var(--white-color);
    transition: all 300ms ease-in-out;
}

.main-nav a:hover {
    color: var(--secondary-color);
}


/* HOME */

.home-container {
    height: 60vh;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container h1 span {
    color: var(--secondary-color);
}

.search {
    margin-top: 3.2rem;
    width: 55rem;
}

.search .search-input {
    display: flex;
    gap: 0.8rem;
    margin-bottom: 3.2rem;
}

.search .search-input input {
    flex: 1;
    padding: 0.8rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.2rem solid gray;
    color: var(--white-color);
    font-size: 1.6rem;   
}

.search .search-input button {
    background-color: transparent;
    color: var(--secondary-color);
    font-weight: bold;
    border: 0.2rem solid var(--secondary-color);
    border-radius: 0.5rem;
    width: 8rem;
    transition: all 300ms ease-in-out;
}

.search .search-input button:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.search .search-option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.search .search-option span {
    font-weight: bold;
    font-size: 1.8rem;
}

.search .search-option button {
    background-color: transparent;
    color: var(--white-color);
    transition: all 300ms ease-in-out;
    border: none;
}

.search .search-option button:hover {
    color: var(--secondary-color);
}

.post {
    margin-top: 3.2rem;
    width: 55rem;
    border-bottom: 0.1rem solid gray;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.post .post-title {
    font-size: 3.2rem;
    font-style: italic;
    font-weight: bold;
}

.post .author {
    font-size: 1.8rem;
}

.post .author span {
    color: var(--secondary-color);
}

/* FORM CSS LABEL AND INPUT */

.form-content + .form-content {
    margin: 1.2rem 0;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;    
}

.form-content label {
    font-size: 1.8rem;
}

.form-content input {
    padding: 0.8rem;
    background-color: transparent;
    border: 0.2rem solid var(--secondary-color);
    border-radius: 0.4rem;
    color: var(--white-color);
    font-size: 1.8rem;
}


/* PAGE LOGIN */

.login-container {
    height: 60vh;
    width: 55rem;
    margin: 0 auto;
    margin-top: 3.2rem;
}

.login-container h1 {
    margin-bottom: 3.2rem;
    font-size: 3.2rem;
    padding: 0.6rem;
    border-left: 0.4rem solid var(--secondary-color);
}

.login-container button {
    background-color: transparent;
    color: var(--secondary-color);
    border: 0.2rem solid var(--secondary-color);
    padding: 0.8rem 1.8rem;
    border-radius: 0.4rem;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

.login-footer {
    font-weight: bold;
}

.login-footer a{
    color: var(--secondary-color);
    text-decoration: underline;
}

/* PAGE REGISTER */

.register-container {
    height: 60vh;
    width: 55rem;
    margin: 0 auto;
    margin-top: 3.2rem;
}

.register-container h1 {
    margin-bottom: 3.2rem;
    font-size: 3.2rem;
    padding: 0.6rem;
    border-left: 0.4rem solid var(--secondary-color);
}


.register-container button {
    background-color: transparent;
    color: var(--secondary-color);
    border: 0.2rem solid var(--secondary-color);
    padding: 0.8rem 1.8rem;
    border-radius: 0.4rem;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

.register-footer {
    font-weight: bold;
}

.register-footer a{
    color: var(--secondary-color);
    text-decoration: underline;
}

.dashboard-container {

    height: 60vh;
    width: 120rem;
    margin-top: 3.2rem;
}

.dashboard-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-container div h1 {
    margin-bottom: 3.2rem;
    font-size: 3.2rem;
    padding: 0.6rem;
    border-left: 0.4rem solid var(--secondary-color);
}

.dashboard-container div a {
    color: var(--secondary-color);
    border: 0.2rem solid var(--secondary-color);
    border-radius: 0.3rem;
    /* padding: 1rem 2.6rem; */
    width: 22rem;
    height: 5rem;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-container div a:hover {
    color: var(--white-color);
    background-color: var(--secondary-color);
}

.dashboard-container main {
    height: 100%;
}

.dashboard-container main span {
    display: block;
    margin-top: 3.2rem;
}

.dashboard-container main span a {
    color: var(--secondary-color);
    text-decoration: underline;
}

/* PAGE ADDTOUGHT */

.addTought {
    margin-top: 3.2rem;
    height: 60vh;
    width: 55rem;
}

.addTought a {
    margin-bottom: 3.2rem;
    display: block;
    color: var(--secondary-color);
    text-decoration: underline;
}

.addTought a:hover {
    color: var(--white-color);
}

.addTought h1 {
    margin-bottom: 3.2rem;
    font-size: 3.2rem;
    padding: 0.6rem;
    border-left: 0.4rem solid var(--secondary-color);
}

.addTought button {
    margin-top: 3.2rem;
    background-color: transparent;
    color: var(--secondary-color);
    border: 0.3rem solid var(--secondary-color);
    border-radius: 0.6rem;
    font-size: 1.8rem;
    width: 20rem;
    height: 5rem;
    transition: all 300ms ease-in-out;
}

.addTought button:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}